body {
  margin: 0 auto;
  background-color: #f0f0f0;
}
.container {
  width: auto;
  margin: 0 auto;
  height: auto;
}

.image-carousel {
    height: 650px;
    width: auto;
    margin: 0 auto;
    background: linear-gradient(rgba(0,0,0,0.09), rgba(0,0,0,0.39)), url("../images/bg/uplift.jpg");
    background-position: center center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}
.heading {margin: 0 auto; margin-bottom: 10px;}
.heading h1 {
  font-family: Lato;
  text-transform: uppercase;
  color: #fff;
  color: #333;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
  letter-spacing: 3px;
}
.heading h2 {
  font-family: Lato;
  font-weight: lighter;
  line-height: 30px;
  font-size: 35px;
}
.heading p {
  font-family: Lato;
  text-align: center;
  width: 650px;
  color: #fff;
  color: #333;
  font-size: 20px;
  margin: 0 auto;
  margin-top: -26px;
  line-height: 29px;
  font-weight: lighter;
}
.courses {
  width: auto;
  height: auto;
}
.course-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 0 auto;
}
.list {
  height: 260px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
  margin-top: 30px;
  width: 250px;
}
.list h1 {
  font-family: Lato;
  font-weight: bolder;
  font-size: 20px;
}
.list p {
  font-family: Lato;
  font-weight: lighter;
  line-height: 20px;
  font-size: 16px;
}
.list:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}
.fa-desktop {color: #777;}
.fa-key {color: #777;}
.fa-wordpress {color: #777;}
.fa-gear {color: #777;}
.fa-laptop {color: #777;}
.fa-dashboard {color: #777;}

.list a {
  font-family: Lato;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border: 1px solid #777;
  padding: 15px 20px;
  margin-top: 20px;
  display: block;
}
.list a:hover {
  background-color: #2c3e50;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transform: translateX(0px);
  color: #fff;
  -webkit-transform: translateX(0px);
}
@media only screen and (max-width : 768px) {
  body {padding-left: 0px;padding-right: 0px; }
  .container {width: 100%;}
  .heading h1 {
  font-family: Lato;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
}
.heading2 {margin: 0 auto;margin-bottom: -320px;}
.heading h1 {
  font-family: Lato;
  text-transform: uppercase;
  color: #333;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
  letter-spacing: 3px;
}
.heading p {
  width: 100%;
}
}
@media only screen and (min-width : 320px) {

}