
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// My Custom Style

#image_logo{
	width:250px;
	height:250px;	
}

#image_logo_carousel{
  width:100%;
  height:250px;
}

.border-line{
	border-right: 1px solid #333;
}